<ion-app>
  <ion-header>
    <ion-toolbar>
      <ion-title>SHOW TRACK</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content class="ion-padding">
    <ion-searchbar showCancelButton="always" placeholder="Buscar"></ion-searchbar>
    <!--¿Cómo cambiar el ícono de la barra de búsqueda?-->
    <ion-text>
    <!--hola-->
      <h1>TENDENCIA</h1>
    </ion-text>
    <!--¿Cómo colocar las tarjetas que contendrían las imágenes de manera correcta?-->
    <!--¿Cómo incluir el ion-slide?-->
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-card>
                Imagen Serie
            </ion-card>
            <ion-card>
                Imagen Serie
            </ion-card>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-text>
      <h1>NETFLIX</h1>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-card>
                Imagen Serie
            </ion-card>
            <ion-card>
                Imagen Serie
            </ion-card>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-text>
      <h1>AMAZON</h1>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-card>
                Imagen Serie
            </ion-card>
            <ion-card>
                Imagen Serie
            </ion-card>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-text>
      <h1>HBO</h1>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-card>
                Imagen Serie
            </ion-card>
            <ion-card>
                Imagen Serie
            </ion-card>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

    <ion-text>
      <h1>DISNEY+</h1>
    </ion-text>
    <ion-card>
      <ion-card-content>
        <ion-grid>
          <ion-row>
            <ion-card>
                Imagen Serie
            </ion-card>
            <ion-card>
                Imagen Serie
            </ion-card>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>

  </ion-content>

  <!--FOOTER-->
  <ion-footer>
    <!--BARRA DE NAVEGACIÓN-->
    <!--¿Se trabajaría con los íconos que están en figma? Si es así, ¿Se agregarán en el SCSS?-->
    <!--¿Está hecho de manera correcta?-->
    <ion-toolbar>
      <ion-tabs>
        <ion-tab-bar slot="bottom">
          <ion-tab-button tab="home">
            <ion-icon name="home"></ion-icon>
            <ion-label>Inicio</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="progress">
            <ion-icon name="checkmark-circle-outline"></ion-icon>
            <ion-label>Progreso</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="statistics">
            <ion-icon name="bar-chart-outline"></ion-icon>
            <ion-label>Estadísticas</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-toolbar>
  </ion-footer>
</ion-app>

