<ion-header>
  <ion-toolbar>
    <ion-title>SHOW TRACK</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar placeholder="Buscar"></ion-searchbar>
  <ion-text>
    <h1>TENDENCIA</h1>
  </ion-text>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-card>
              <ion-img src="http://placehold.it/90x170" alt=""></ion-img>
          </ion-card>
          <ion-card>
              <ion-img src="http://placehold.it/90x170" alt=""></ion-img>
          </ion-card>
          <ion-card>
              <ion-img src="http://placehold.it/90x170" alt=""></ion-img>
          </ion-card>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
